.navbar-nav a{
    margin-left: 20px;
}
.navbar-toggler-icon {
    color: #00A191;
}

.navbar-toggler {
    border-color: #fff !important; 
  }
  
.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
    color: #fff;
}
.nav-link:hover {
color: #00A191;
transition: all .8s;
}

.nav-link.active {
color: #00A191 !important;
font-weight: bold;
transition: all 0.8s;
}
  