html, body, #root {
  background-color: #18181B !important;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 20px;
  margin-bottom: 0rem;
}

.text-verde{
  color: #00A191;
}

.btn-green{
  background-color: #00A191;
  color: #fff;
}

.btn-green:hover{
  background-color: #02c0ad;
  color: #fff;
}